:root {
  --color-primary: #212121;
  --color-secondary: #757575;
  --color-accent: #2196f3;
  --color-dark: #000000;
  --color-inverted: #fefefe;
  --color-white: #ffffff;
  --color-background: #2f303a;
  --color-filtres: #f5f4fa;
  --button: #188ce8;
}

body {
  color: var(--color-primary);
  background-color: var(--color-white);
  font-family: "Roboto", sans-serif;
}

/* Logo */

.logo-accent {
  color: var(--color-accent);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  text-decoration: none;
}

.logo-accentS {
  color: var(--color-accent);
  font-weight: 500;
  font-size: 14px;
  background-color: #ffffff;
  text-decoration: none;
}

.logo-accent-second {
  color: var(--color-primary);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  text-decoration: none;
}

.logo-footer {
  color: var(--color-accent);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  background-color: var(--color-background);
  text-decoration: none;
}

.logo-footer-second {
  color: var(--color-white);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  background-color: var(--color-background);
  text-decoration: none;
}

/* Link */

.link-current {
  color: var(--color-accent);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link {
  color: var(--color-primary);
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-decoration: none;
}

.linknav {
  color: var(--color-secondary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link:hover {
  color: var(--color-accent);
}

.linknav:hover {
  color: var(--color-accent);
}

.link-current:hover {
  color: var(--color-accent);
}

.link:focus {
  color: var(--color-accent);
}

.linknav:focus {
  color: var(--color-accent);
}

..link-current:focus {
  color: var(--color-accent);
}

.link-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.link-contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--color-secondary);
  text-decoration: none;
}

.link-contacts:hover {
  color: var(--color-accent);
}

.link-contacts:focus {
  color: var(--color-accent);
}

/* Button */

.primary-button {
  background: var(--button);
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
}

.primary-button:hover {
  background-color: var(--color-accent);
}

.primary-button:focus {
  background-color: var(--color-accent);
}

.pic {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.portfolio-button-all {
  color: var(--color-white);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background-color: var(--color-accent);
  cursor: pointer;
}

.portfolio-button-all:hover {
  color: var(--color-white);
  background: var(--color-accent);
}
.portfolio-button-all:focus {
  color: var(--color-white);
  background: var(--color-accent);
}

.portfolio-button-web {
  color: var(--color-primary);
  font-family: inherit;
  width: 125px;
  height: 38px;
  left: 593px;
  top: 174px;
  background-color: var(--color-filtres);
  cursor: pointer;
}

.portfolio-button-app {
  color: var(--color-primary);
  font-family: inherit;
  width: 112px;
  height: 38px;
  left: 726px;
  top: 174px;
  background-color: var(--color-filtres);
  cursor: pointer;
}

.portfolio-button-dis {
  color: var(--color-primary);
  font-family: inherit;
  width: 103px;
  height: 38px;
  left: 846px;
  top: 174px;
  background-color: var(--color-filtres);
  cursor: pointer;
}

.portfolio-button-mar {
  color: var(--color-primary);
  font-family: inherit;
  width: 130px;
  height: 38px;
  left: 957px;
  top: 174px;
  background-color: var(--color-filtres);
  cursor: pointer;
}

.portfolio-button-web:hover {
  color: var(--color-white);
  background-color: var(--color-accent);
}

.portfolio-button-app:hover {
  color: var(--color-white);
  background-color: var(--color-accent);
}

.portfolio-button-dis:hover {
  color: var(--color-white);
  background-color: var(--color-accent);
}

.portfolio-button-mar:hover {
  color: var(--color-white);
  background-color: var(--color-accent);
}

.portfolio-button-web:focus {
  color: var(--color-white);
  background-color: var(--color-accent);
}

.portfolio-button-app:focus {
  color: var(--color-white);
  background-color: var(--color-accent);
}

.portfolio-button-dis:focus {
  color: var(--color-white);
  background-color: var(--color-accent);
}

.portfolio-button-mar:focus {
  color: var(--color-white);
  background-color: var(--color-accent);
}
/* Hero section */

.hero-title {
  background: var(--color-background);
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

/* Advantages section */

.advantage-card {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.advantage-card-title {
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.advantage-card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
}

.team {
  background-color: var(--color-filtres);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.img {
  background: var(--color-white);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
}
.team-card-title {
  color: var(--color-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.team-card-text {
  color: var(--color-secondary);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.portfolio-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}

.portfolio-card-text {
  color: var(--color-secondary);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Other */

.footer {
  background: var(--color-background);
}

ul {
  list-style-type: none;
}
